
/* HEADER */
.header{
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 715px;
 
}
.header{
  background-color: #f3f3f3;
}
.header__about{
  margin-left: 50px;
  margin-top: 55px;
  max-width: 360px;
}
.about-h1{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 57px;
  max-width: 270px;
  color: #262f32;
}
.about-text{
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 18px;
  line-height: 28px;
}
.header__img{
  height: auto;
  width: 100%;

}
.h1-span{
  font-weight: 600;
}
/*!HEADER*/

/*MAIN*/
.main{
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: repeat(2, minmax(429px, max-content));
  grid-template-areas: 
    'products start'
    'products dammy';
}
.products{
  grid-area: products;
  background-image: url(../img/bg-left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.start{
  grid-area: start;
  background-image: url(../img/bg-right.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}
.dammy{
  grid-area: dammy;
  background-image: url(../img/bg-right2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.products__item{
  max-width: 470px;
  color: #fff;
  padding-left: 60px;
  font-family: 'Roboto', sans-serif;
  
}
.product-h2{
  font-size: 45px;
  line-height: 66px;
  letter-spacing: 1.35px;
  margin-top: 70px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto', sans-serif;
 
  
}
.product-text{
  color: rgba(255, 255, 255, 0.88);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1.35px;
  margin-top: 6px;
  font-weight: 400;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}

.main-container{
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.start-h2{
  color: #262f32;
}

.start__text{
  color: #262f32;
}

.btn-default{
  margin-top: 60px;
  margin-bottom: 65px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1.35px;
  line-height: 32px;
  padding: 13px 40px;
  border: 1px solid #262f32;
  color: #262f32;
  border-radius: 15px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
.btn-light{
  color: #fff;
  border-color: #fff;
}
.h2-span{
  font-weight: 900;
  color: #fff;
}
.h2-span-black{
  font-weight: 900;
  color: #262f32;
}
/*!MAIN*/

/*FOOTER*/

.footer{
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 714px;
  
}

.autor{
  background-image: url(../img/bg-footer-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 45px;
  font-family: 'Roboto', sans-serif;
  color: #fff;

}
.autor__h2{
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 45px;
  letter-spacing: 1.35px;
  font-weight: 300;
 
}
.autor__text-job{
  font-size: 45px;
  letter-spacing: 1.35px;
  font-weight: 900;
  margin: 0;
}
.autor__h3{
  font-size: 45px;
  letter-spacing: 1.35px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 20px;
}
.autor__text-gd{
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}
.feedback{
  background-image: url(../img/bg-footer-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.feedback-container{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 70px;
}
.feedback__h2{
 font-weight: 300;
 font-size: 45px;
 color: rgba(255, 255, 255, 0.6);

}
.fedback__h2-span{
  font-weight: 900;
  font-size: 45px;
  color: #fff;
  
}

.feedback__form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr minmax(160px, 3fr);
  grid-gap: 15px;
  grid-template-areas: 
    "input email"
    "textarea textarea";
  max-width: 620px;
  
}
.form-input{
  grid-area: input;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-input::placeholder{
  color: #fff;
  opacity: 0.5;
}
.form-email{
  grid-area: email;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  
}
.form-email::placeholder{
  color: #fff;
  opacity: 0.5;
}
.form-textarea{
  grid-area: textarea;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 8px;
  resize: none;
}
.form-textarea::placeholder{
  color: #fff;
  opacity: 0.5;
}
.feedback__h3{
  margin-top: 90px;
  margin-bottom: 20px;
  font-weight: 400;
  opacity: 0.6;
  font-size: 16px;
}
.feedback__sns{
  max-width: 150px;
  display: flex;
  justify-content: space-between;
}
.feedback__msg{
  font-weight: 400;
  opacity: 0.6;
  font-size: 16px;
  margin-top: 45px;
}
/*!FOOTER*/